JWT_SECRET=replace_me # Required - replace this with a random string of at least 32 characters
ERSATZTV_BASE_URL=http://your-ersatztv-host:8409 # Required - replace this with your ErsatzTV host URL
CORS_ORIGIN=https://yourdomain.com # Optional - default is "*"